<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 text-muted">
    Devices
</h6>

<ul class="nav flex-column">
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1 device-list-active">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
    <li class="nav-item device-list-id-1">
        <a class="nav-link" href="#">Device 1</a>
    </li>
</ul>
