{% load dashboard_tags %}

<div id="map"></div>

<script>
    let map = null;
    let ready = false;

    function updateMapDevices() {
        if (!ready)
            return;

        console.log("Updating devices on map ...");
        let position = {lat: {% google_maps_latitude %}, lng: {% google_maps_longitude %}}
        let marker = new google.maps.Marker({position: position, map: map});
    }

    function initMap() {
        console.log("Initializing map ...");
        let options = {
            center: {lat: {% google_maps_latitude %}, lng: {% google_maps_longitude %}},
            zoom: {% google_maps_zoom %},
            mapTypeId: "{% google_maps_type %}",
        };
        map = new google.maps.Map(document.getElementById('map'), options);

        ready = true;
        updateMapDevices();
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={% google_maps_api_key %}&callback=initMap"></script>
